@model ProyectoRRHH.Models.candidato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>candidato</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cedula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.salarioaspira)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.salarioaspira)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.recomendadopor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.recomendadopor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.competencias)
        </dt>
        <dd class="col-sm-10">
            @{ var competencias = String.Join(", ", Model.competencias.Select(x => x.descripcion).ToArray()); }
            @Html.DisplayFor(model => competencias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.capacitacionesNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.capacitacionesNavigation.descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.departamentoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.departamentoNavigation.departamento1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.explaboralNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.explaboralNavigation.empresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.puestoaspiraNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.puestoaspiraNavigation.nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
